body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  /* margin-top: 60px; */
  background-image: url('assets/kanade.png');
  background-repeat: no-repeat; /* 图像不重复 */
  background-size: cover; /* 使背景图像覆盖整个元素 */
}

.column {
  background-color: #ffffff;
  opacity: 0.7;
  column-fill:auto;
  column-rule-style: solid;
  column-rule-width: 10px;
  border-radius: 25px;
  padding: 20px;
  height: 95vh;
}

.column.left {
  float: left;
  width: 20%;
}

.column.right {
  float: right;
  width: 75%;
}